{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "script"
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 1
            }
        ],
        "import/prefer-default-export": "off",
        "no-unused-vars": [
            2,
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "no-param-reassign": "off",
        "no-case-declarations": "off",
        "function-paren-newline": [
            "error",
            "consistent"
        ]
    }
}
